// sass --watch main.scss:main.css ile  oluyor
// fakat biz watch scss kullandık

// terminalden sass --watch ./scss/main.scss:./css/main.css izlenebilir dosya duzeni

@import "./base/reset";

@import "./abstracts/mixins", "./abstracts/variables";

@import "./components/nav", "./components/responsive", "./components/footer";

@import "./pages/about", "./pages/contacts", "./pages/home", "./pages/projects";

body {
  font-family: $font-family;
  line-height: 1;
  color: $text-color;
  background-color: $primary-color;
  height: 100vh;
}
a {
  text-decoration: none;
  color: $text-color;
}
h1,
h2,
h3 {
  font-weight: 400;
}
